/* base layer */
@tailwind base;

@layer base {

  html,
  body {
    @apply text-slate-800 w-full overflow-x-hidden bg-gray-200 min-h-screen flex flex-col;
  }

  h1 {
    @apply text-5xl mb-4 md:text-6xl font-bold text-center;
  }

  h2 {
    @apply text-3xl mb-4 md:text-4xl font-semibold text-center;
  }

  h3 {
    @apply text-xl mb-4 text-gray-600 text-center;
  }

  h4 {
    @apply text-lg font-bold;
  }

  main {
    @apply md:min-h-[512px] lg:min-h-[760px]
  }
}

/* components layer */
@tailwind components;

@layer components {
  .btn-template {
    @apply flex w-full min-h-full items-center justify-center border-2 hover:bg-sky-700 hover:scale-105 py-2 px-4 rounded-lg outline-none focus:ring-2 focus:ring-sky-500 transition-all ease-in-out;
  }

  .btn {
    @apply btn-template bg-sky-600 text-slate-100 border-transparent;
  }

  .btn-sec {
    @apply btn-template bg-transparent hover:text-slate-100 border-sky-700 hover:border-transparent;
  }

  .card {
    @apply bg-gray-50 shadow-lg rounded-2xl p-4 md:p-8 lg:p-10 overflow-hidden;
  }
}

/* utilities */
@tailwind utilities;
/* @layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
} */