@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Theme */
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --card: 210 40% 98%;
  --card-foreground: 222.2 47.4% 11.2%;

  --popover: 210 40% 98%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --primary: 195 65% 34%;
  --primary-foreground: 0 0% 100%;

  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 98%;

  --muted: 214, 32%, 91%;
  --muted-foreground: 215, 25%, 27%;

  --accent: 190 90% 70%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 74% 38%;
  --destructive-foreground: 210 40% 98%;

  --border: 215 16% 47%;
  --input: 222.2 47.4% 11.2%;
  --ring: 190 90% 70%;

  /* Charts */
  --chart-1: 15 80% 65%;
  --chart-2: 165 50% 33%;
  --chart-3: 45 85% 54%;
  --chart-4: 200 70% 27%;
  --chart-5: 25 85% 60%;

  /* Radius */
  --radius: 0.5rem;
}

/* Dark Theme */
html.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;

  --card: 222.2 47.4% 11.2%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 47.4% 11.2%;
  --popover-foreground: 210 40% 98%;

  --primary: 195 65% 38%;
  --primary-foreground: 0 0% 100%;

  --secondary: 217 33% 17%;
  --secondary-foreground: 210 40% 98%;

  --muted: 215, 25%, 27%;
  --muted-foreground: 214, 32%, 91%;

  --accent: 190 90% 70%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;

  --border: 217 20% 30%;
  --input: 217 20% 30%;
  --ring: 190 90% 70%;

  --chart-1: 15 80% 65%;
  --chart-2: 165 50% 33%;
  --chart-3: 45 85% 54%;
  --chart-4: 200 70% 27%;
  --chart-5: 25 85% 60%;

  --radius: 0.5rem;
}

/* Base styles */
@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    @apply bg-background text-foreground min-h-screen overflow-x-hidden antialiased;
  }

  h1 {
    @apply text-5xl mb-4 md:text-6xl font-bold text-center;
  }

  h2 {
    @apply text-3xl mb-4 md:text-4xl font-semibold text-center;
  }

  h3 {
    @apply text-xl mb-4 opacity-80 text-center;
  }

  h4 {
    @apply text-lg font-bold;
  }
}
